body {
    background-color: #75AF96;
    font-family: monospace;
}

section {
    /* Center in middle of screen */
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);

    width: 50vw;
}

h1 {
    text-align: center;
    padding: 1%;
    background-color: #AA7939;
}

header {
    margin: 2.5% 25% 2.5% 25%;
}

.icon {
	text-align: center;
	margin: 1%;
	border: 1px white solid;
	background-color: #AA7939;
	width: 10%;
}

.icon a {
    text-decoration: none;
}

#ol_float {
    float: left;
}

ol, #ol_float {
    margin: 0% 10% 0% 24%;
    padding: 1%;
}

footer {
	/* Center at bottom */
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    z-index: -1;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

button {
    border: 2px solid;
    background-color: #555555;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover, input[type="submit"]:hover, .clickable:hover {
    background-color: white;
    color: #555555;
    border: 2px solid #555555;
}

button:active {
    background-color: #555555;
    box-shadow: 5px 5px #555;
    border: 2px solid black;
    transform: translateY(4px) translateX(4px);
}

input[type="submit"] {
    background-color: #555555;
    color: white;
    text-align: center;
    font-size: 16px;
}

input[type="submit"]:active {
    background-color: #555555;
    box-shadow: 5px 5px #555;
    border: 2px solid black;
    transform: translateY(4px) translateX(-48%);
}

.clickable {
    border: 2px solid white;
}

.clickable:active {
    border: 2px solid black;
    box-shadow: 5px 5px #555;
    transform: translateY(4px) translateX(4px);
}

form input {
    margin: 0 25vw 1%;
    transform: translateX(-50%);
    text-align: center;
    font-family: inherit;
    padding: 2%;
    font-size: 1.5em;
    width:350px;
}