body {
  background-color: #75AF96;
  font-family: monospace;
  text-align: center;
}

div {
  margin: 25%;
  padding: 1%;
  background-color: #AA7939;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}