# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
charset = utf-8

[*.{css,html,js}]
indent_style = tab
indent_size = 4

[*.css]
end_of_line = lf
insert_final_newline = true

[*.js]
insert_final_newline = false

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

