main {
    width: 500px;
    height: 350px;
    display: flex;
    transform: rotate(180deg);
}

main div {
    flex: 1;
    border: 1px solid white;
}

/* Generals styling */

body {
    background-color: whitesmoke;
    font-family: monospace;
}

section {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    z-index: -1;
}

aside {
	text-align: center;
	margin: 1%;
	border: 1px white solid;
	background-color: #AA7939;
	width: 10%;
}

aside a {
    text-decoration: none;
}