section {
    width: 500px;
    height: 350px;
    background-image: linear-gradient(0, #e6f2ff, lightblue 60%);
    border: 5px solid white;
    outline: 5px solid black;
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-2.5px, -2.5px);
    }
    50% {
        transform: translate(2.5px, -2.5px);
    }
    75% {
        transform: translate(2.5px, 2.5px);
    }
    100% {
        transform: translate(0, 0);
    }
}

section > div {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    animation: move 5s linear infinite;
} 

/* Generals styling */

body {
    background-color: whitesmoke;
    font-family: monospace;
}

section {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    z-index: -1;
}

aside {
	text-align: center;
	margin: 1%;
	border: 1px white solid;
	background-color: #AA7939;
	width: 10%;
}

aside a {
    text-decoration: none;
}