@keyframes up {
	from {
		transform: translate(0, -100px);
	}

	to {
		transform: translate(0, 100px);
	}
}

@keyframes visible {
	from {
		color: transparent;
	}

	to {
		color: black;
	}
}

h1 {
	font-size: 3em;
	animation: up 3s linear alternate;
	animation-fill-mode: forwards;
}

h1 > span:first-child {
	animation: visible 3s linear reverse;
	animation-fill-mode: forwards;
}

h1 > span:last-child {
	animation: visible 3s linear alternate;
	animation-fill-mode: forwards;
}

/* Generals styling */

body {
	background-color: whitesmoke;
	font-family: monospace;
}

section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	position: absolute;
	bottom: 0;
	left: 50vw;
	transform: translateX(-50%);
	z-index: -1;
}

aside {
	text-align: center;
	margin: 1%;
	border: 1px white solid;
	background-color: #AA7939;
	width: 10%;
}

aside a {
	text-decoration: none;
}
