@keyframes zoom {
	100% {
		font-size: 1.5em;
	}
}

@keyframes unzoom {
	0% { font-size: 1.5em; }
	100% { font-size: 1em; }
}

span:hover {
	animation: zoom 1s linear;
	animation-fill-mode: forwards;
}

span {
	animation: unzoom 1s linear;
}

/* Generals styling */

body {
    background-color: whitesmoke;
    font-family: monospace;
}

section {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    z-index: -1;
}

.icon {
	text-align: center;
	margin: 1%;
	border: 1px white solid;
	background-color: #AA7939;
	width: 10%;
}

.icon a {
    text-decoration: none;
}