section {
    width: 500px;
    height: 350px;
}

@keyframes appear {
    from {
        color: transparent;
    }
    to {
        color: grey;
    }
}

h1:before {
    content: 'I\'m late.';
    color: grey;
    font-size: 0.5em;
    animation: appear 10s linear;
}

h1:after {
    content: 'Really late.';
    color: grey;
    font-size: 0.5em;
    animation: appear 10s linear;
}

h1 {
    font-size: 3em;
}

/* Generals styling */

body {
    background-color: whitesmoke;
    font-family: monospace;
}

section {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    z-index: -1;
}

aside {
	text-align: center;
	margin: 1%;
	border: 1px white solid;
	background-color: #AA7939;
	width: 10%;
}

aside a {
    text-decoration: none;
}