body {
    background-color: #75AF96;
    font-family: monospace;
    text-align: center;
}

div {
    margin: 25%;
    padding: 1%;
    background-color: #AA7939;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
}

/* Form */

form * {
    text-align: center;
    font-family: monospace;
    margin: 1%;
}

#text {
    padding: 2%;
    font-size: 1.5em;
}

#button {
    border: 2px solid;
    background-color: #555555;  /* Black */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button:hover {
    background-color: white;
    color: #555555; /* Black */
    border: 2px solid #555555;
}

#button:active {
    background-color: #555555;
    box-shadow: 0 5px #555;
    transform: translateY(4px);
}