@keyframes up {
    100% {
        position: relative;
        text-shadow: lightslategray -15px 10px 0px;
        top: -10px;
        right: -10px;
    }
}

span:hover {
    animation: up 0.3s linear;
    animation-fill-mode: forwards;
}

span {
    animation: none;
}

h1 {
    font-size: 6em;
}

/* Generals styling */

body {
    background-color: whitesmoke;
    font-family: monospace;
}

section {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    z-index: -1;
}

.icon {
	text-align: center;
	margin: 1%;
	border: 1px white solid;
	background-color: #AA7939;
	width: 10%;
}

.icon a {
    text-decoration: none;
}