@keyframes slide-in {
    100% {
        transform: translate(-100vw, 0);
    }
}

h1 {
    animation: slide-in 5s cubic-bezier(.9,.03,.69,.22) reverse;
    animation-fill-mode: forwards;
}

/* Generals styling */

body {
    background-color: whitesmoke;
    font-family: monospace;
}

section {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 50vw;
    transform: translateX(-50%);
    z-index: -1;
}

.icon {
	text-align: center;
	margin: 1%;
	border: 1px white solid;
	background-color: #AA7939;
	width: 10%;
}

.icon a {
    text-decoration: none;
}